:root {
    --cor-de-fundo: #EBECEE;
    }
body{
    background-color: rgb(6, 182, 123);
}
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}